 <div class="sidebar">
     <div class="decoration-pd-3"></div>
            <div class="header-sidebar d-flex flex-column align-items-center m-t-20">
                <img class="puntodataSVG" src="{{ asset('img/Logo Nuevo Punto Data.svg') }}" alt=""/>
                <div class="d-flex m-t-10">
                    <span class="smooth-puntodata">Punto <span style="color:#262626">Data</span> Chile, <span style="color:#262626"> SpA</span></span>
                </div>
            </div>
            <div class="simple-separator no-margin-b"></div>
            <div class="content-sidebar">
                <ul>
                    <li class="item-list-sidebar">
                        <a href="{{ path('admin_post_index') }}">Post</a>
                    </li>
                    <li class="item-list-sidebar">
                        <a href="{{ path('categories') }}">Categorías</a>
                    </li>
                    <li class="item-list-sidebar">
                        <a href="{{ path('admin_post_new') }}">Team</a>
                    </li>
                    <li class="item-list-sidebar">
                        <a href="{{ path('admin_post_new') }}">Portafolio</a>
                    </li>
                </ul>
            </div>
        </div>