{% set google = '2QwZKVelARYS9kj5NXN2TskURixteiDV0rR441FjuJY' %}

{% set appName = 'Punto Data Chile' %}
{% set iRoute = app.request.attributes.get('_route') %}
{% set iParams = app.request.attributes.get('_route_params') %}
{% set nonemeta = '' %}
<!DOCTYPE html>
<html lang="es-CL"  prefix="og: http://ogp.me/ns#" >
<head>
    {#<base href="{{app.request.getSchemeAndHttpHost()}}" >#} 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    
        {% block metas %}
            <meta name="google-site-verification" content="{{google}}" />
            

            <meta name="description" content="{{ meta_descripcion }}" />
            
            <meta name="author" content="{{ appName }}" />
            <meta name="copyright" content="www.puntodata.cl" />
            <meta name="application-name" content="{{ appName }}" />
            <meta name="mobile-web-app-capable" content="yes">

            {#Facebook#}
            <meta property="og:locale" content="es_ES" />
            <meta property="og:type" content="article">
            <meta property="og:locale" content="es-CL">
            <meta property="og:title" content="{{ meta_titulo }}">
            <meta property="og:url" content="{{ meta_url }}">
            <meta property="og:image"  content="{{ meta_imagen }}">
            <meta property="og:site_name" content="{{appName}}">
            <meta property="og:image:type" content="image/jpeg">
            <meta property="og:image:width" content="200">
            <meta property="og:image:height" content="200">
            <meta property="og:image:url" content="{{ meta_imagen }}" />
            <meta property="og:image:secure_url" content="{{ meta_imagen }}">
            <meta property="og:image:type" content="image/png">
            <meta property="og:description" content="{{ meta_descripcion }}">
            {#Facebook#}

            {#Twitter#}
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="{{ meta_url }}">
            <meta name="twitter:title" content="{{ meta_titulo }}">
            <meta name="twitter:url" content="{{ meta_url }}">
            <meta name="twitter:description" content="{{ meta_descripcion }}">
            <meta name="twitter:image" content="{{ meta_imagen }}">
            <meta name="twitter:creator" content="@puntodata">
            <meta name="twitter:domain" content="https://www.puntodata.cl">
            {#Twitter#}
        {% endblock %}

    {#Apple#}
    <link rel="apple-touch-icon" href="{{ asset('img/apple/apple-touch-icon.png ')}}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/apple/apple-touch-icon-57x57.png')}}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple/apple-touch-icon-72x72.png')}}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple/apple-touch-icon-76x76.png')}}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple/apple-touch-icon-114x114.png')}}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/apple/apple-touch-icon-120x120.png')}}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple/apple-touch-icon-144x144.png')}}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/apple/apple-touch-icon-152x152.png')}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple/apple-touch-icon-180x180.png')}}" />
    {#Apple#}

    <meta http-equiv="Cache-control" content="public">
    <meta http-equiv="expires" content="Tue, 01 Jan 2020 1:00:00 GMT" />

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/ico.png') }}"/>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/app.css')) }}"/>
     <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/app.css')) }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons"/>
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css"/><link rel="icon" type="image/png" href="/img/ico.png"/>

</head>

<body class="app-js light">

{#<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('root') }}">Blogmvc</a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('root') }}">Blog</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('admin_post_index') }}">backend</a>
        </li>
    </ul>
</nav>#}


    {% for type, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ type }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
<!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{ asset('js/jquery.easeScroll.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
<!-- Filter Category-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<!--Item GridItemAnimation-->
<script src="{{ asset('js/libs/AnimationItems/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('js/libs/AnimationItems/anime.min.js') }}"></script>
<script src="{{ asset('js/libs/AnimationItems/main.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/libs/reveal/reveal.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/libs/reveal/scrollMonitor.js') }}"></script>
<script src="{{ asset('js/filter.js') }}"> </script>
<script src="{{ asset('js/app.js') }}"></script>
<!--script(type="text/javascript" src="js/SmoothScroll.js")-->
<script src="{{ asset('js/sliderHeader.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript">new WOW().init();</script>
{% block javascripts %}{% endblock %}
</body>
</html>
