<nav class="primary--nav">
      <div class="container">
        <div class="d-flex">
          <div class="logo"><img src="{{ asset('img/LogoSVG.svg') }}" alt="alt"/></div>
          <ul class="nav--items">
            <li class="active"><a class="link--item" href="#inicio">Inicio</a></li>
            <li><a class="link--item" href="#servicio">Servicios</a></li>
            <li><a class="link--item" href="#team">El Team</a></li>
            <li><a class="link--item" href="#galery">Portafolio</a></li>
            <li><a class="link--item" href="{#{{ path('blog') }}#}">Blog</a></li>
            <li><a class="link--item" href="#contacto">Acerca de </a></li>
            {% if is_granted('ROLE_ADMIN') %}    
            <li><a class="link--item" href="{{ path('admin_post_index') }}">Administrar</a></li>
            <li><a href="{{ path('logout') }}"><svg class="f-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M215.469 332.802l29.863 29.864L352 256 245.332 149.333l-29.863 29.865 55.469 55.469H64v42.666h205.864l-54.395 55.469zM405.334 64H106.666C83.198 64 64 83.198 64 106.666V192h42.666v-85.333h298.668v298.668H106.666V320H64v85.334C64 428.802 83.198 448 106.666 448h298.668C428.802 448 448 428.802 448 405.334V106.666C448 83.198 428.802 64 405.334 64z"></path></svg></a></li>
            {% else %}
            {#<li><a class="link--item" href="{{ path('login') }}">Login</a></li>#}
            {% endif %}
          </ul>
          <div class="menu--nav--mobile">
            <svg class="ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('actives')">
              <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40"></path>
              <path class="line middle" d="m 30,50 h 40"></path>
              <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40"></path>
            </svg>
          </div>
        </div>
      </div>
    </nav>