{% extends 'base.html.twig' %}

{% block body %}


        {% block main %}{% endblock main %}
 
    {#<div class="col-md-4">
        {{ render(controller('AppBundle:Post:sidebar')) }}
    </div>#}

{% endblock %}