{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="box-panel d-flex">
        <h2 class="mr-auto title-header-admin">Categorías</h2>
        <a href="{{ path('admin_post_new') }}" class="pd-btn ml-auto">Crear un nueva categoría</a>
    </div>
  
    <div class="box-panel d-flex m-t-20">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Slug</th>
                
               
            </tr>
        </thead>
        <tbody>
                 {% for category in categories %}
                    <tr>
                        <td>
                            {{category.id}}
                        </td>
                        <td>
                            {{category.name}}
                        </td>

                        <td>
                            {{category.slug}}
                        </td>
                       

                    </tr>
                {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(categories) }}
    </div>
    

    


{% endblock %}
