{% set nonemeta = false %}
{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class=page-header>Contact Form in Symfony</h2>

                    {{form_start(form, {'attr': {'id': 'form_contact'}}) }}
                    {{form_widget(form)}}
                    {{form_end(form)}}

            </div>
        </div>
</div>



{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    $('#form_Save').click(function(e) {
       
        var formURL = "{{ path('ajax') }}";
        var formData = new FormData(document.getElementById('form_contact'));
        $.ajax({
            url: formURL,
            type: 'POST',
            data:  formData,
            mimeType:"multipart/form-data",
            contentType: false,
            cache: false,
            processData:false,
            success: function(data, textStatus, jqXHR)
            {
                console.log(data)

            },
            error: function(jqXHR, textStatus, errorThrown)
            {
            }
        });
        e.preventDefault(); //Prevent Default action.
     
    });

  </script>
{% endblock %}
