{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="box-panel d-flex">
        <h2 class="mr-auto title-header-admin">Creación de usuario</h2>
        <a href="{{ path('admin_post_new') }}" class="pd-btn ml-auto">Crear un nuevo usuario</a>
    </div>
  
    <div class="box-panel d-flex m-t-20">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
           
                
            </tr>
        </thead>
        <tbody>
        {% for use in user %}
            <tr>
                <td>
                    {{use.id}}
                </td>
                <td>
                    {{use.username}}
                </td>
                <td>
                    {{use.email}}
                </td>
                
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    </div>
    

    

    <div class="navigation">
       
    </div>

{% endblock %}
