{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="box-panel d-flex">
        <h2 class="mr-auto title-header-admin">Creación de posts</h2>
        <a href="{{ path('admin_post_new') }}" class="pd-btn ml-auto">Crear un nuevo post</a>
    </div>

    <div class="box-panel d-flex m-t-20">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Publication date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <div class="image-table">
                        <img src="{{ asset('image_directory/' ~ post.image) }}">
                    </div>
                </td>
                <td>{{ post.name }}</td>
                <td>{{ post.category.name }}</td>
                <td>{% if post.createdAt %}{{ post.createdAt | date('d/m/Y H:i') }}{% endif %}</td>
                <td>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="pd-btn m-r-10">Edit</a>
                        {{ form_start(delete_forms[post.id], {attr: {style: 'display:inline'}}) }}
                        <div>
                            <label for="delete-post" class="d-flex align-items-center" style="cursor:pointer">
                             
                                <svg  xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash h-6 w-6"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
                            </label>
                             <input type="submit" value="Delete" class="btn btn-danger none-input" id="delete-post">
                       
                        </div>
                        {{ form_end(delete_forms[post.id]) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    

    

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
