.panel.panel-primary{
  width: 100%;
}

#login{

  z-index: 99;
  position: relative;

}
.group-inputs input {
    width: 100%;
    background: #e7e7e7;
    border: none;
    padding: 14px;
    border-radius: 5px;
    color:#464646;
}
.login-content{
    background: #464646 !important;
}

.primary--nav{
  position: relative !important;
}
.rounder-ball-1 {
    top: 50%;
  z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--color-pd-main-yellow);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    bottom: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
    -o-transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
    transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
}
.rounder-ball {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: var(--color-pd-main-yellow);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    bottom: 11px;
    left: -192px;
    -webkit-transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
    -o-transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
    transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
}
.login-content{
  width: 600px;
  border-radius: 6px;
      box-shadow: 6px 5px 20px 5px rgba(0,0,0,0.2);

  margin: 0 auto;
}
.panel-heading{
  padding: 20px 30px;
  position: relative;

}
.panel-heading:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
        background-color: rgba(255, 255, 255, 0.08);
}
.panel-body{
        padding: 30px 30px 30px 30px;
}
.panel-footer{
  padding: 20px 30px ;
  position: relative;
}

.panel-footer:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
        background-color: rgba(255, 255, 255, 0.08);
}
.btn.btn-puntodata-fill{
transition: all 0.65s cubic-bezier(0.694, 0.048, 0.335, 1) !important;
  margin: 0;
  margin-left: auto;
}
.btn.btn-puntodata-fill:hover{
  color:#464646;
  background: #fff;
  border-color:#464646;
}

.alert{
  display: flex;
}



