{% extends 'sidebar.html.twig' %}

{% block title %}
    {% if category is defined %}
        Category : {{ category.name }}
    {% elseif author is defined %}
        Author : {{ author.username }}
    {% else %}
        Blog
    {% endif %}
    {% if page > 1 %}
    Page {{ page }}
    {% endif %}
{% endblock %}

{% block main %}
    <style>
        @media (min-width: 1200px){
            .container {
                max-width: 1120px;
            }
        }
    </style>
    <main>
        {% include 'baseFrontend.html.twig'%}
       {% for post in posts %}
            {% if loop.first %}
                <div>
                    <div class="header-main" style="background: url('{{ asset('image_directory/' ~ post.image) }}');background-size: cover;
    background-position: center;
    background-repeat: no-repeat;">
                <div class="drop-shadow">
                    <div class="glass" style="background-image: url({{ asset('image_directory/' ~ post.image) }});
  background-size: cover;
  background-position: center;">
                        

                    </div>
                    <h1 class="title-main-glass">
                            {{ post.name }}
                        </h1>
                </div>
                    

                </div>
                    <svg style="position:absolute" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#e6a31b" fill-opacity="1" d="M0,192L48,181.3C96,171,192,149,288,165.3C384,181,480,235,576,245.3C672,256,768,224,864,202.7C960,181,1056,171,1152,192C1248,213,1344,267,1392,293.3L1440,320L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
                    </svg>
                </div>
            {% endif %}
        {% endfor %}

    </main>



    {% if category is defined %}
        <div class="page-header">
            <h1>Category : {{ category.name }}</h1>
            <p class="lead"></p>
        </div>
    {% elseif author is defined %}
        <div class="page-header">
            <h1>Author : {{ author.username }}</h1>
            <p class="lead"></p>
        </div>
    {% else %}
        <div class="page-header">
            <h1>Blog</h1>
            <p class="lead">Welcome on my blog</p>
        </div>
    {% endif %}
    <div class="wrapper-posts">
         <div class="container">
    <div class="row">
    {% for post in posts %}
        <div class="col-md-4">
            <article>
                <div class="blog-posts">
                    <div  class="con-img">
                        <img  src="{{ asset('image_directory/' ~ post.image) }}" alt="" class="not-darken"> 
                        <img  src="{{ asset('image_directory/' ~ post.image) }}" alt="" class="has-darken">        <i data-v-c92e6442="" class="bx bx-video"></i> 
                    
                    </div>
                    <header class="header-posts">
                        <button class="liked-posts">
                            <svg fill="rgb(255, 71, 87);" data-svg="favorite_border" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                                    <path fill="none" d="M0 0h24v24H0V0z"></path>
                                                                    <path data="" d="M19.66 3.99c-2.64-1.8-5.9-.96-7.66 1.1-1.76-2.06-5.02-2.91-7.66-1.1-1.4.96-2.28 2.58-2.34 4.29-.14 3.88 3.3 6.99 8.55 11.76l.1.09c.76.69 1.93.69 2.69-.01l.11-.1c5.25-4.76 8.68-7.87 8.55-11.75-.06-1.7-.94-3.32-2.34-4.28zM12.1 18.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg>
                    </button>
                        <button class="comments-posts">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M21.99 4c0-1.1-.89-2-1.99-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14l4 4-.01-18zM17 14H7c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1zm0-3H7c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1zm0-3H7c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1z"/></svg> 12
                        </button>
                    </header>
                    <div data-v-c92e6442="" class="content-text">
                        <h4  href="{{ path('post_show', {slug: post.slug}) }}" title="{{ post.name }}">
                            {{ post.name }}
                        </h4>
                        <p data-v-c92e6442="">
                            {{ post.content | markdown | excerpt(4) }}
                        </p>
                    </div>
                    <footer data-v-c92e6442="">
                        <div data-v-c92e6442="" class="vs-input-parent vs-input-parent--state-null" placeholder="Comment" style="--vs-color:26,92,255;">
                            <div class="vs-input-content">
                                <button class="btn-posts" href="{{ path('post_show', {slug: post.slug}) }}">
                                    Ver
                                </button>
                            </div>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                        </div>
                        {#<button  class="right-btn-post" style="--vs-color:26,92,255;">
                            <div class="vs-button__content">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M3.4 20.4l17.45-7.48c.81-.35.81-1.49 0-1.84L3.4 3.6c-.66-.29-1.39.2-1.39.91L2 9.12c0 .5.37.93.87.99L17 12 2.87 13.88c-.5.07-.87.5-.87 1l.01 4.61c0 .71.73 1.2 1.39.91z"/></svg>
                            </div>
                        </button>#}
                    </footer>
                </div>
                
                    {#<p>
                        <small>
                            Category : <a href="{{ path('post_category', {slug: post.category.slug}) }}">{{ post.category.name }}</a>,
                            by <a href="{{ path('post_author', {id: post.user.id}) }}">{{ post.user.username }}</a>
                            on {{ post.createdAt | date("M dS Y") }}</small>
                    </p>
                    <p>
                        {{ post.content | markdown | excerpt(60) }}
                    </p>
                    <p class="text-right">
                        <a href="{{ path('post_show', {slug: post.slug}) }}" class="btn btn-primary">Read more...</a>
                    </p>#}
                </article>
        </div>
    
    {% endfor %}
    </div>
</div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
