{{ form_start(form) }}

<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.name) }}
    </div>

    <div class="col-sm-6">
        {{ form_row(form.puesto) }}
    </div>
    <div class="col-sm-12">
        {{ form_row(form.description) }}
    </div>

    <div class="col-sm-3">
        {{ form_row(form.instagram) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.facebook) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.linkeding) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.cv) }}
    </div>
    
</div>
{{ form_widget(form) }}

{{ form_end(form) }}