{% extends 'AdminBundle::base.html.twig' %}

{% block body %}
    <div class="box-panel d-flex">
        <h2 class="mr-auto title-header-admin">PuntoTeam</h2>
        <a href="{{ path('new_team') }}" class="pd-btn ml-auto">Agregar miembro</a>
    </div>
  
  
    <div class="box-panel d-flex m-t-20 ElTeam">
       
       <div class="row" style="width:100%">
       {% for team in teams %}
            <div class=" col-md-6">
                <div class="box-team">
                    <div class="theteam">
                        <div class="img" style=" background: linear-gradient(hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1)), url({{asset('image_directory/' ~ team.image )}});background-position: center;background-size: cover;background-repeat: no-repeat;">
                        <!--img(src='img/t3.jpg' alt='')-->
                        <div class="img--second"></div>
                        </div>
                        <div class="content-team">
                        <h2>{{ team.name }}</h2>
                        <h5 class="m-b-5">{{ team.puesto }}</h5>
                        <p>{{ team.description }}</p>
                        </div>
                        <div class="footer-team">
                        <div class="d-flex justify-content-center"><a class="d-flex align-items-center" href="https://www.instagram.com/rolandoshr" target="_blank"><img src="/img/instagram.svg" alt=""></a><a class="d-flex align-items-center" href="https://www.facebook.com/rolandoshr" target="_blank"><img src="/img/facebook.svg" alt=""></a><a class="d-flex align-items-center" href="https://cl.linkedin.com/in/rolandoshr" target="_blank"><img src="/img/linkedin.svg" alt=""></a><a class="d-flex align-items-center" href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px" height="40px"><path fill="#fff" d="M5.5 1.5H34.5V38.5H5.5z"></path><path fill="#4788c7" d="M34,2v36H6V2H34 M35,1H5v38h30V1L35,1z"></path><path fill="none" stroke="#4788c7" stroke-linecap="round" stroke-miterlimit="10" d="M23.5 11.5L28.5 11.5M23.5 15.5L28.5 15.5M23.5 19.5L28.5 19.5M11.5 23.5L28.5 23.5M11.5 27.5L28.5 27.5M11.5 31.5L28.5 31.5"></path><path fill="#98ccfd" d="M16 8A3 3 0 1 0 16 14 3 3 0 1 0 16 8zM16 15c-2.761 0-5 2.239-5 5h10C21 17.239 18.761 15 16 15z"></path></svg></a></div>
                        <div class="d-flex justify-content-center">
                            <div class="line m-t-25 m-b-20" style="height: 3px;"></div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
         {% endfor %}

            
       </div>
    </div>
    

    

    <div class="navigation">
        
    </div>

{% endblock %}
