{% extends 'base.html.twig' %}
  {% block title %}
      Punto Data Chile | Agencia Digital
  {% endblock %}
  {% block metas %}    
    {% set meta_titulo = appName ~ '| Agencia Digital' %}
    {% set meta_descripcion = 'Agencia digital, Un equipo internacional especializado en web, branding, diseño y social media. Queremos saber mas de tu proyecto! Y si necesitas algún producto que no etá en nuestro sitio web, te ayudamos a obtenerlo. Envíanos un correo o pase por nuestra oficina a tomar un café.' %}
    {% set meta_imagen = absolute_url(asset('img/LogoSVG.png')) %}
    {% set meta_url = iRoute %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="header-wrapper">
      <nav class="positionNavbar d-flex justify-content-center aling-items-center" style="padding:0;">
        <div class="container d-flex navbar-hosting">
          <div class="mr-auto"><img class="logoHosting" src="img/LogoSVG.svg" alt="alt"/></div>
          <ul class="ml-auto d-flex align-items-center">
            <li> <a href="#">Home</a></li>
            <li> <a href="#">Servicios</a></li>
            <li> <a href="#">Planes</a></li>
            <li><a href="#">Cpanel</a></li>
            <li><a href="#">Contacto</a></li>
            <li class="m-l-25"><a class="btn-soporte" href="#">Soporte</a></li>
          </ul>
        </div>
      </nav>
      <div class="container-home">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>El mejor hosting <br> al mejor precio</h1>
              <h4 class="text-white sub-title">Contrata ahora el hosting más rapido. seguro y confiable <br> de todo chile</h4>
              <div class="d-flex">
                <button class="btn-pd-reset btn-primary-accion-contratar m-r-15">Contratar</button>
                <button class="btn-pd-reset btn-primary-accion-planes">Planes</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container-svg-home"><img src="img/servidor.svg" alt="alt"/></div>
            </div>
          </div>
        </div>
      </div><img class="svg-onda" src="img/Onda.svg" alt=""/>
      <div class="content-cloud x1">
        <div class="box-cloud-1"><svg filter="url(#dropshadow)" height="100pt" viewBox="0 -122 463.83425 463" width="" xmlns="http://www.w3.org/2000/svg">
<filter id="dropshadow" height="130%">
<feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
<feOffset dx="2" dy="2" result="offsetblur"/> <!-- how much to offset -->
<feComponentTransfer>
<feFuncA type="linear" slope="0.5"/> <!-- slope is the opacity of the shadow -->
</feComponentTransfer>
<feMerge> 
<feMergeNode/> <!-- this contains the offset blurred image -->
<feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
</feMerge>
</filter> 
<path d="m375.835938 112.957031c-5.851563 0-11.691407.582031-17.425782 1.742188-4.324218-21.582031-18.304687-39.992188-37.933594-49.957031-19.625-9.964844-42.738281-10.382813-62.714843-1.136719-18.078125-49.796875-73.101563-75.507813-122.898438-57.429688s-75.507812 73.105469-57.429687 122.898438c-43.621094 1.378906-78.078125 37.484375-77.4257815 81.121093.6562495 43.640626 36.1835935 78.691407 79.8281255 78.761719h296c48.597656 0 88-39.398437 88-88 0-48.601562-39.402344-88-88-88zm0 0" fill="#efefef"/></svg>
        </div>
      </div>
      <div class="content-cloud-2 x2">
        <div class="box-cloud-2"><svg filter="url(#dropshadow)" height="100pt" viewBox="0 -122 463.83425 463" width="" xmlns="http://www.w3.org/2000/svg"><path d="m375.835938 112.957031c-5.851563 0-11.691407.582031-17.425782 1.742188-4.324218-21.582031-18.304687-39.992188-37.933594-49.957031-19.625-9.964844-42.738281-10.382813-62.714843-1.136719-18.078125-49.796875-73.101563-75.507813-122.898438-57.429688s-75.507812 73.105469-57.429687 122.898438c-43.621094 1.378906-78.078125 37.484375-77.4257815 81.121093.6562495 43.640626 36.1835935 78.691407 79.8281255 78.761719h296c48.597656 0 88-39.398437 88-88 0-48.601562-39.402344-88-88-88zm0 0" fill="#efefef"/></svg></div>
      </div>
      <div class="content-cloud-3 x1-right"> 
        <div class="box-cloud-3"><svg  filter="url(#dropshadow)"height="100pt" viewBox="0 -122 463.83425 463" width="" xmlns="http://www.w3.org/2000/svg"><path d="m375.835938 112.957031c-5.851563 0-11.691407.582031-17.425782 1.742188-4.324218-21.582031-18.304687-39.992188-37.933594-49.957031-19.625-9.964844-42.738281-10.382813-62.714843-1.136719-18.078125-49.796875-73.101563-75.507813-122.898438-57.429688s-75.507812 73.105469-57.429687 122.898438c-43.621094 1.378906-78.078125 37.484375-77.4257815 81.121093.6562495 43.640626 36.1835935 78.691407 79.8281255 78.761719h296c48.597656 0 88-39.398437 88-88 0-48.601562-39.402344-88-88-88zm0 0" fill="#efefef"/></svg></div>
      </div>
    </div>
{% endblock %}