
{% extends 'base.html.twig' %}
{% block body %}
    <div class="decoration-pd"></div>
    <div class="decoration-pd2"></div>
    <div class="login-wrapper d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <div class="log-content">
                <div class="d-flex justify-content-center m-b-20">
                     <img class="puntodataSVG" src="{{ asset('img/Logo Nuevo Punto Data.svg') }}" alt=""/>
                </div>
                

                 <div class="container">
                    
                    <div class="form-group group-inputs">

                   
                        {{form_start(form)}}

                        {{form_widget(form)}}

                        {{form_end(form)}}

                     </div>
                </div>

            </div>
             
        </div>
    </div>
    
{#
    <div class="container">
         <form action="{{ path('login') }}" method="post" class="form-signin">
            <h4 class="form-signin-heading">Please sign in</h4>
            <div class="form-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="username" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="_password" placeholder="Password" class="form-control"/>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>#}
{% endblock %}